#include <windows.h>
#include "resource.h"

IDD_PORTDIALOG DIALOGEX 0, 0, 185, 60
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Select Port"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT "Port Number:", -1, 7, 15, 50, 8
	EDITTEXT IDC_PORTEDIT, 65, 13, 50, 14, ES_NUMBER | WS_BORDER
	DEFPUSHBUTTON "OK", IDOK, 128, 7, 50, 14
	PUSHBUTTON "Cancel", IDCANCEL, 128, 28, 50, 14
END
